#hero {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  align-items: center;
  border-bottom: 0px;
  background: $white-color;
  font-weight: 400;
  color: $dark-blue-text;
  padding: 0rem 5.6rem;
  margin-bottom: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  

  // If you want to set a background image on the hero section, uncomment these with yout custom image

  /* background: url("/src/assets/[your-image].png");
  background-position: center;
  background-size: cover; */

  @include respond(phone) {
    padding: 0rem $default-font-size;
  }
  
  
  background-image:linear-gradient(112.65deg, rgba(106, 0, 123, 0.9) 10.79%, rgba(65, 0, 170, 0.78) 87.8%), url('/src/assets/background.jpg');

  height: 650px;

  

  .hero-title {
    height: 76px;
    width: 563px;
    left: 438px;
    top: 208px;
    border-radius: nullpx;
    font-size: 65px;
    font-style: normal;
    font-weight: 600;
    line-height: 76px;
    letter-spacing: 0em;
    
    





    @include respond(tab-land) {
      font-size: 4rem;
    }
    @include respond(tab-port) {
      font-size: 3.6rem;
      text-align: center;
    }
    @include respond(phone) {
      font-size: 3.5rem;
      line-height: 1.5;
    }
    @include respond(phone-xs) {
      font-size: 2.8rem;
    }
  }

  .sub-title{
    font-size: 2.5rem;
    color: white;
    font-weight: 700;
    margin-bottom: 3.2rem;
    text-align: center;
    

  }

  .hero-cta {
    display: flex;

    @include respond(tab-port) {
      justify-content: center;
    }

    & a {
      font-size: 2.4rem;

      @include respond(phone) {
        font-size: 2rem;
      }
    }
  }
}
